/system/config/local.php
/tmp/
/data/
/nbproject/
/application/config/
/application/controller/
/application/helper/
/application/library/
/application/model/
/application/view/
/_backup/
/application/class/
/application/ajax/
/application/hello_world.php